.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.open {
  transform: translateX(0);
  transition: transform 6s ease;
}

.closed {
  transform: translateX(155px);
  transition: transform 6s ease;
}

.container-shadow {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 6s ease;
}

.container-shadow-closed {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 6s ease;
}

.open2 {
  transform: translateX(0);
  transition: transform 6s ease;
}

.closed2 {
  transform: translateX(155px);
  transition: transform 6s ease;
}

.container-shadow2 {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 6s ease;
}

.container-shadow-closed2 {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 6s ease;
}

.fontsize {
  font-size: xx-small;
}